@mixin btColors($bg, $color) {
  background-color: $bg;
  color: $color;
  border: 1px solid $bg;
  border-radius: 5px;
  padding: 10px 20px;
  min-width: 70px;
  &:hover {
    background-color: darken($bg, 10%);
    color: $color;
  }

  &:active {
    background-color: darken($bg, 20%);
    color: $color;
  }

  &:focus {
    background-color: darken($bg, 10%);
    color: $color;
  }
}
.button-style {
  &-success {
    @include btColors(#22bb33, #fff);
  }
  &-danger {
    @include btColors(#bb2124, #fff);
  }
  &-warning {
    @include btColors(#f0ad4e, #000);
  }
  &-info {
    @include btColors(#5bc0de, #000);
  }
  &-black {
    @include btColors(#000, #fff);
  }
  &-white {
    @include btColors(#fff, #000);
  }
  &-grey {
    @include btColors(#d8d8d8, #000);
  }
}
