@mixin btMayh() {
  min-width: 70px;
  max-width: 75px;
}
.App{
    
     background-color: rgb(16, 47, 47) !important;
     .App-header {
      
     
       .app-container {
         
         &__top {
           h1 {
             color: rgb(212, 216, 221);
             text-align: center;
           }
         }
         &__middle {
           width: 100%;
           display: flex;
           align-content: space-around;
           flex-direction: row;
           justify-content: center;
           Button {
             margin: 10px;
           }
         }
         &__bottom {
           display: flex;
           justify-content: center;
           align-items: center;
           Button {
             min-width: 80px;
             max-width: 100px;
           }
         }
       }
     }
}

